@media (max-width:576px) {
    .full h5 {
        font-size: 12px;
    }
    .bitton {
        width: 40vw;
    }
    .box select {
        width: 75vw;
    }
    .lui {
        margin-top: 80vh;
        padding-left: 22vw;
    }
    .client-con {
        padding-left: 22vw;
    }
    .brans {
        margin-left: 30%;
        width: 30vw;
    }
}
@media (min-width:577px) and (max-width:768px) {
    .full h5 {
        font-size: 14px;
    }
    .box select {
        width: 75vw;
    }
    .lui {
        margin-top: 85vh;
        padding-left: 18vw;
    }
    .client-con {
        padding-left: 16vw;
    }
    .brans {
        margin-left: 40%;
        width: 20vw;
    }
}
@media (min-width:769px) and (max-width:987px) {
    .box select {
        width: 22vw;
    }
    .full h5 {
        font-size: 14px;
    }
    .brans {
        margin-left: 30%;
        width: 13vw;
    }
}
@media (min-width:988px) and (max-width:1200px) {
    .box select {
        width: 22vw;
    }
    .full h5 {
        font-size: 16px;
    }
    .lui {
        padding-left: 4vw;
    }
    .pi1 {
        width: 24vw;
    }
    .word1 h2,
    h3 {
        line-height: 15px;
    }
}